apiVersion: arubacloud.com/v1alpha1
kind: Project
metadata:
  name: ${{ values.name }}
  namespace: ${{ values.namespace }}
spec:
  tenant: ${{ values.tenant }}
  description: ${{ values.description }}
{% if values.tags and values.tags.length %}
  tags:
{% for tag in values.tags %}
  - ${{ tag }}
{% endfor %}
{% else %}
  tags: []
{% endif %}
  default: ${{ values.default }}
