apiVersion: arubacloud.com/v1alpha1
kind: ElasticIp
metadata:
  name: ${{ values.name }}
  namespace: tenant-${{ values.tenant | lower }}
spec:
  tenant: ${{ values.tenant }}
{%- if values.tags and values.tags.length %}
  tags:
{% for tag in values.tags %}
  - ${{ tag }}
{%- endfor %}
{%- else %}
  tags: []
{%- endif %}
  location:
    value: ${{ values.location }}
  billingPlan:
    billingPeriod: ${{ values.billingPeriod }}
  projectReference:
    name: ${{ values.projectName }}
    namespace: tenant-${{ values.tenant | lower }}
