apiVersion: arubacloud.com/v1alpha1
kind: BlockStorage
metadata:
  name: ${{ values.name }}
  namespace: ${{ values.namespace }}
spec:
  tenant: ${{ values.tenant }}
{%- if values.tags and values.tags.length %}
  tags:
{% for tag in values.tags %}
  - ${{ tag }}
{%- endfor %}
{%- else %}
  tags: []
{%- endif %}
  location:
    value: ${{ values.location }}
  sizeGb: ${{ values.sizeGb }}
  billingPeriod: ${{ values.billingPeriod }}
  dataCenter: ${{ values.dataCenter }}
  bootable: ${{ values.bootable }}
  image: ${{ values.image }}
  projectReference:
    name: ${{ values.projectName }}
    namespace: ${{ values.projectNamespace }}
